@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&family=Plus+Jakarta+Sans');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../patron.jpg);
    background-repeat: repeat;
    background-position: center center;
    font-family: 'Poppins';
    height: 100vh;
    overflow: hidden;
}

.nav-conteiner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: 'Plus Jakarta Sans';
    padding: 1.5rem 2rem;
    border: 0.15rem solid black;
    box-shadow: 8px 8px 0 black;
    border-radius: 5px;
    background-color: white;
    max-height: 90%;
    min-height: 85%;
    margin-right: 5rem;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2.5px solid black;
    box-shadow: 0.25rem 0.25rem 0 black;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.nav a {
    font-size: 1.25em;
    height: 3rem;
    width: 100%;
    font-weight: 600;
    margin-top: 5rem;
}

.nav a:first-child {
    margin-top: 0;
}

a,
button {
    cursor: pointer;
}

.selected {
    background-color: #62B5FA;
    color: white;
}

.circle-nav {
    background-color: #62B5FA;
    border-radius: 50%;
    height: 11rem;
    width: 11rem;
    border: 0.125rem solid black;
    box-shadow: 0.125rem 0.125rem 0 black;
    margin: 0 0 5rem 0;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 65%;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

.button-add {
    border: 0.125rem solid black;
    box-shadow: 0.25rem 0.25rem 0 black;
    background-color: transparent;
    font-size: 2.8rem;
    border-radius: 0.3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    width: 2.8rem;
}

h1 {
    font-size: 4.5em;
    text-transform: uppercase;
    -webkit-text-stroke: 0.125rem black;
    color: white;
}

.night-mode {
    height: 3.125rem;
    width: 3.125rem;
    background-color: black;
    border-radius: 8px;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 85%;
}

.categories-and-buttons {
    border: 0.15rem solid black;
    box-shadow: 0.5rem 0.5rem 0 black;
    border-radius: 5px;
    background-color: white;
    margin-top: 0;
    height: 80%;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 0.125rem;
}

.categories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.125rem solid black;
    height: 20%;
    padding: 0 2rem;
}

.circle-and-title {
    display: flex;
    align-items: center;
}

.circle-and-title h4 {
    font-size: 1.875rem;
    font-weight: 600;
}

.circle-categories {
    height: 2.2rem;
    width: 2.2rem;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 0.625rem;
}

.conteiner-categorie-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.categorie-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 3rem;
    height: 100%;
    width: 85%;
}

.categorie-buttons::-webkit-scrollbar {
    width: 23px;
}

.categorie-buttons::-webkit-scrollbar-thumb {
    background-color: #62B5FA;
    border-radius: 24px;
    border: 5px solid white;
    box-shadow: inset -3px -3px 0 black;
}

.categorie-buttons a {
    margin: 1.3rem;
    font-size: 1.5em;
    background-color: #62B5FA;
    width: 75%;
    height: 5.5rem;
    box-shadow: 0.35rem 0.35rem 0 0 white, 0.35rem 0.35rem 0 0.125rem black;
    color: white;
}

.upgrade {
    font-size: 1em;
    background-color: white;
    height: 7.5%;
    width: 9.1rem;
}
