@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&family=Plus+Jakarta+Sans:wght@600');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../patron.jpg);
    background-repeat: repeat;
    background-position: center center;
    font-family: 'Poppins';
    height: 100vh;
    overflow: hidden;
}

.nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: 'Plus Jakarta Sans';
    padding: 1.4rem 1.8rem;
    box-shadow: 0px 0px 0px 2px black, 8px 8px 0 black;
    border-radius: 5px;
    background-color: white;
    height: 90%;
    margin-right: 5rem;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 65%;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    box-shadow: 4px 4px 0 black;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.nav a {
    font-size: 1.15em;
    height: 3rem;
    width: 100%;
}

a,
button {
    cursor: pointer;
}

.selected {
    background-color: #62B5FA;
    color: white;
}

.circle-nav {
    background-color: #62B5FA;
    border-radius: 50%;
    height: 11rem;
    width: 11rem;
    border: 2px solid black;
    box-shadow: 2px 2px 0 black;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 65%;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

.button-add {
    border: 2px solid black;
    box-shadow: 4px 4px 0 black;
    background-color: transparent;
    font-size: 2.8rem;
    border-radius: 4.8px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    width: 2.8rem;
}

h1 {
    font-size: 4.5em;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
    color: white;
}

.night-mode {
    height: 3.125rem;
    width: 3.125rem;
    background-color: black;
    border-radius: 8px;
}

.categories-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 85%;
}

.categories {
    box-shadow: 0px 0px 0px 2px black, 8px 8px 0 black;
    border-radius: 5px;
    background-color: white;
    margin-top: 0;
    height: 80%;
    width: 90%;
    margin: 0 auto;
}

.categories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 0 black;
    height: 20%;
    padding: 0 2rem;
}

.circle-and-title {
    display: flex;
    align-items: center;
}

.circle-and-title h4 {
    font-size: 1.875rem;
    font-weight: 600;
}

.circle-categories {
    height: 2.2rem;
    width: 2.2rem;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 0.625rem;
}

.flashcards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.flashcards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 1rem;
    height: 100%;
    width: 85%;
}

/*Scroll*/

.flashcards::-webkit-scrollbar {
    width: 10px;
}

.flashcards::-webkit-scrollbar-thumb {
    background-color: #62B5FA;
    border-radius: 24px;
    box-shadow: 4px 4px 0 black;
}

.flashcards::-webkit-scrollbar-track {
    margin: 25px 50px;
}

/*---*/

.flashcards a {
    margin: 1.3rem;
    font-size: 1.4em;
    background-color: #62B5FA;
    width: 75%;
    height: 5.5rem;
    box-shadow: 5.6px 5.6px 0 0 white, 5.6px 5.6px 0 2px black;
    color: white;
}

.button-upgrade {
    font-size: 1.2em;
    background-color: white;
    height: 7.5%;
    width: 9.1rem;
}
